.create-or-join(v-if="!currentlyInGame")

  .inside

    .create
      button(@click="createRoom()") Create a New Room

    .or
      span or
  
    .join
      form(@submit.prevent="joinRoom()")
        input(type="text" minlength="4" maxlength="4" required v-model="roomCode"
          @input="roomCode = $event.target.value.toUpperCase()"
          placeholder="Enter A Room Code"
        )
        button(v-if="roomCode && roomCode.length > 3" type="submit") Join this room.