.employee-screen

  .top-info
    .name {{players[1].name}}
    .job 
      span Employee 
      sup #
      span {{players[1].employeeNumber}}
    .attempts
      span(v-if="players[1].attempts && players[1].attempts > 0") {{players[1].attempts}} tries
    .score SCORE: {{players[1].score}}


  .inner
    p Create Your Password.
    ul
      li {{round.challenge.nameAsRule}}
      li(v-for="(rule,index) in round.rules") {{rule.message}}
      li Passwords are case-insensitive
      li(v-if="round.bugs && round.bugs.length > 0 ") 
        span(v-if="round.bugs.length == 1") There is a system bug.
        span(v-else) There are {{round.bugs.length}} system bugs.


    form.password-form(v-if="round.phase == 'create password'" @submit.prevent="tryThisPassword(ui.passwordAttempt)")
      fieldset
        input(type="text" v-model="ui.passwordAttempt" id="PasswordAttempt" :class="{ 'error' : ui.passwordInputError }" v-touppercase v-focus)
        label(for="PasswordAttempt") Create A Password
          sup.required *
      .button-holder
        button(type="submit") Submit

    .password-errors(v-if="ui.passwordAttemptErrors && ui.passwordAttemptErrors.length > 0")
      .error(v-if="ui.passwordAttemptErrors.length == 1") {{ui.passwordAttemptErrors[0]}}
      ul(v-if="ui.passwordAttemptErrors.length > 1")
        li.error(v-for="(err,index) in ui.passwordAttemptErrors") {{err}}

  .crash-screen(v-if="round.phase == 'crashed'")
    h1 You crashed the system.
