.employee-screen

  .top-info
    .name {{players[1].name}}
    .job 
      span Employee 
      sup #
      span {{players[1].employeeNumber}}
    .attempts
      span(v-if="players[1].attempts && players[1].attempts > 0") {{players[1].attempts}} tries
    .score SCORE: {{players[1].score}}


  .inner
    p Create Your Password.
    ul
      li {{round.challenge.nameAsRule}}
      li(v-for="(rule,index) in round.rules") {{rule.message}}
      li Passwords are case-insensitive
      li(v-if="round.bugs && round.bugs.length > 0 ") 
        span(v-if="round.bugs.length == 1") There is a system bug.
        span(v-else) There are {{round.bugs.length}} system bugs.


    form.password-form(v-if="round.phase == 'create password'" @submit.prevent="tryThisPassword(ui.passwordAttempt)")
      fieldset
        input(type="text" v-model="ui.passwordAttempt" id="PasswordAttempt" :class="{ 'error' : ui.passwordInputError }" v-touppercase v-focus)
        label(for="PasswordAttempt") Create A Password
          sup.required *
      .button-holder
        button(type="submit") Submit

    .password-errors(v-if="ui.passwordAttemptErrors && ui.passwordAttemptErrors.length > 0")
      .error(v-if="ui.passwordAttemptErrors.length == 1") {{ui.passwordAttemptErrors[0]}}
      ul(v-if="ui.passwordAttemptErrors.length > 1")
        li.error(v-for="(err,index) in ui.passwordAttemptErrors") {{err}}

  .crash-screen(v-if="round.phase == 'crashed'")
    .inside
      h1 Server error in '/' Application
      p
        strong Description: 
        | An unhandled exception occured when 
        strong Carlos
        |  entered the password 
        strong SHITBALLS.
      
      //-p
        strong Suspected Cause:
        |  Perhaps there was a bug associated with the password 
        strong SHITBALLS.

      p
        strong Source Error
      pre
        code.
          Line 109113:     protected isTheSiteCrashed(ooobject pwassword) {
          Line 109114:       while (password != error) {
          Line 109115:         destroyWebsite = false;
          Line 109116:       }
          Line 109117:     }

      p
        strong Password Entered
      pre
        code.
          SHITBALLS
      
      p
        strong Employee Record
      pre
        code.
          EMPloyeeNuumber:     103431
          EMpoyeeNAME:         Carlos
      
      p
        strong Source File
      pre
        code.
          D:\Code\Projects\BigCorp\EmployeeProfiles\Scum\Auth\Processes\FuckItThisWillWorkForNow.aspx
      
      footer
        strong Version Information:
        br
        code BigCorp Framework Version 4.00.1134.Release5-Final--Version2.TestBuild-5


