<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&amp;family=Fira+Code:wght@300;600&amp;family=Lora:ital,wght@0,400;0,600;1,400&amp;display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="last-modified" content="2020-11-13@17:38:19">
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="split-screens">
        <div class="admin-screen">
          <h2>
            SysAdmin Screen  ({{players[0].name}})</h2>
          <div class="panel rules-summary">
            <ul>
              <li>{{round.challenge.nameAsRule}}</li>
              <li class="admin-only">There are {{round.possibleAnswerCount}} possible</li>
              <li class="admin-only">Average password size is {{round.averageSize}} characters</li>
              <li class="admin-only">There's an average of {{round.averageVowels}} vowels</li>
              <li v-for="(rule,index) in round.rules">{{rule.message}}</li>
              <li>Passwords are case-insensitive</li>
              <li v-if="round.bugs &amp;&amp; round.bugs.length &gt; 0 "> <span v-if="round.bugs.length == 1">There is a system bug.</span><span v-else>There are {{round.bugs.length}} system bugs.</span></li>
              <li class="admin-only" v-for="(bug,index) in round.bugs">{{bug}} will cause a system crash.</li>
            </ul>
            <p class="admin-only">Info in this color is for admin eyes only.</p>
          </div>
          <div class="panel rules-panel" v-if="round.phase == 'choose rules'">
            <h3>Add a Rule!</h3>
            <h4>You have {{my.rulebux}} Rulebux to spend.</h4>
            <div class="rules">
              <!--button.rule(v-for="(rule,index) in rules" @click="chooseRule(rule)")-->
              <button class="rule" v-for="(rule,index) in rules" @click="chooseRule(rule)" :class="{ active: (rule.name == ui.currentRule.name), 'too-expensive': (rule.cost &gt; my.rulebux) }" :disabled="ui.currentRule.editing || (rule.cost &gt; my.rulebux)">
                <div class="name">{{rule.name}}</div>
                <div class="cost">{{rule.cost}}</div>
              </button>
              <button class="finished" type="button" @click="round.phase = 'add bugs'" v-if="!ui.currentRule.editing">FINISH RULES</button>
            </div>
          </div>
          <div class="panel rule-details" v-if="ui.currentRule.editing &amp;&amp; (round.phase == 'choose rules')">
            <form class="fieldset-and-button" v-if="ui.currentRule.name == 'Demand A Letter'" v-on:submit.prevent="saveRule(ui.currentRule)">
              <fieldset>
                <label for="DemandTheLetter">Demand the letter</label>
                <input v-model="ui.currentRule.inputValue" id="DemandTheLetter" type="text" maxlength="1" minlength="1" required v-touppercase v-focus placeholder="?">
              </fieldset>
              <button type="submit">Set</button>
            </form>
            <form class="fieldset-and-button" v-if="ui.currentRule.name == 'Ban A Letter'" v-on:submit.prevent="saveRule(ui.currentRule)">
              <fieldset>
                <label for="BanTheLetter">Ban the letter</label>
                <input v-model="ui.currentRule.inputValue" type="text" id="BanTheLetter" maxlength="1" minlength="1" required v-touppercase v-focus placeholder="?">
              </fieldset>
              <button type="submit">Set</button>
            </form>
            <form class="select-and-button" v-if="ui.currentRule.name == 'Set A Maximum'" v-on:submit.prevent="saveRule(ui.currentRule)" v-focus>
              <select v-model="ui.currentRule.inputValue" required>
                <option selected disabled value="">How would you like to phrase this rule?</option>
                <option>Your password cannot exceed {{(round.averageSize + round.maxOffset)}} characters</option>
                <option>Your password must be less than {{(round.averageSize + round.maxOffset + 1)}} characters</option>
                <option>Password must be {{(round.averageSize + round.maxOffset)}} characters in length or less</option>
                <option>Password can be a maximum of {{(round.averageSize + round.maxOffset)}} characters</option>
                <option>Password can not be {{(round.averageSize + round.maxOffset + 1)}} characters or more.</option>
                <option>Password must not exceed {{(round.averageSize + round.maxOffset)}} characters.</option>
              </select>
              <button type="submit">Set</button>
            </form>
            <form class="select-and-button" v-if="ui.currentRule.name == 'Set A Minimum'" v-on:submit.prevent="saveRule(ui.currentRule)" v-focus>
              <select v-model="ui.currentRule.inputValue" required>
                <option selected disabled value="">How would you like to phrase this rule?</option>
                <option>Your password must be at least {{(round.averageSize - round.minOffset)}} characters long</option>
                <option>Your password must be more than {{(round.averageSize - round.minOffset - 1)}} characters</option>
                <option>Password must be {{(round.averageSize - round.minOffset)}} characters or more</option>
                <option>Password minimum is {{(round.averageSize - round.minOffset)}}</option>
                <option>Password must exceed {{(round.averageSize - round.minOffset - 1)}} characters</option>
                <option>Your password must contain {{(round.averageSize - round.minOffset - 1)}} characters or more</option>
              </select>
              <button type="submit">Set</button>
            </form>
            <form class="select-and-button" v-if="ui.currentRule.name == 'Limit Vowels'" v-on:submit.prevent="saveRule(ui.currentRule)" v-focus>
              <select v-model="ui.currentRule.inputValue" required>
                <option selected disabled value="">How would you like to phrase this rule?</option>
                <option>Your password cannot exceed {{(round.averageVowels + round.vowelOffset)}} vowels</option>
                <option>Your password must have less than {{(round.averageVowels + round.vowelOffset + 1)}} vowels</option>
                <option>Vowels in your password are limited to {{(round.averageVowels + round.vowelOffset)}}</option>
                <option>Password vowels cannot exceed {{(round.averageVowels + round.vowelOffset)}}</option>
                <option>Your password may not contain {{(round.averageVowels + round.vowelOffset + 1)}} vowels or more</option>
                <option>The vowel count in your password must be less than {{(round.averageVowels + round.vowelOffset + 1)}}</option>
              </select>
              <button type="submit">Set</button>
            </form>
            <form class="fieldset-and-button" v-if="ui.currentRule.name == 'Ban A Combo'" v-on:submit.prevent="saveRule(ui.currentRule)">
              <fieldset>
                <label for="FirstBannedLetter">Ban The Letter </label>
                <input v-model="ui.currentRule.inputValue" type="text" id="FirstBannedLetter" maxlength="1" minlength="1" required v-touppercase v-focus>
                <label for="SecondBannedLetter">from being used with </label>
                <input v-model="ui.currentRule.inputValueTwo" type="text" id="SecondBannedLetter" maxlength="1" minlength="1" required v-touppercase>
              </fieldset>
              <button type="submit">Set</button>
            </form>
          </div>
          <div class="panel bug-setup" v-if="round.phase == 'add bugs'">
            <div class="first-bug-intro" v-if="!round.bugs || round.bugs.length &lt; 1">
              <h2>Add a bug to the system.</h2>
              <p>Enter a word to use as a bug.</p>
              <p>If a player tries to use that word as a password, the system will crash (and you earn points.)</p>
              <p v-if="my.rulebux &lt; 1">FYI, next time you're SysAdmin, you can buy additional bugs for 1 point.</p>
            </div>
            <div class="additional-bug" v-else-if="my.rulebux &gt; 0">
              <p>You may add {{my.rulebux}} additional bugs to the system</p>
            </div>
            <form class="fieldset-and-button" v-on:submit.prevent="addBug()" v-if="!round.bugs || my.rulebux &gt; 0">
              <fieldset> 
                <label for="BugPassword"></label>
                <input type="text" id="BugPassword" v-model="ui.addBug" v-touppercase v-focus>
              </fieldset>
              <button type="Submit">Set</button>
            </form>
            <ul class="bug-errors" v-if="ui.addBugErrors">
              <li v-for="(e,index) in ui.addBugErrors">{{e}}</li>
            </ul>
            <div class="button-holder">
              <button @click="onboardEmployees()">Onboard Employees</button>
            </div>
          </div>
          <h3 v-if="round.phase == 'create password'"></h3>
        </div>
        <div class="employee-screen">
          <h2>
            Employee Screen ({{players[1].name}})</h2>
          <p>Create Your Password.</p>
          <ul>
            <li>{{round.challenge.nameAsRule}}</li>
            <li v-for="(rule,index) in round.rules">{{rule.message}}</li>
            <li>Passwords are case-insensitive</li>
            <li v-if="round.bugs &amp;&amp; round.bugs.length &gt; 0 "> <span v-if="round.bugs.length == 1">There is a system bug.</span><span v-else>There are {{round.bugs.length}} system bugs.</span></li>
          </ul>
          <form class="password-form" v-if="round.phase == 'create password'" @submit.prevent="tryThisPassword(ui.passwordAttempt)">
            <label class="input-password">
              <input type="text" v-model="ui.passwordAttempt" :class="{ 'error' : ui.passwordInputError }" v-touppercase v-focus><span class="name">Create A Password<sup class="required">*</sup></span>
            </label>
            <div class="button-holder">
              <button type="submit">Submit</button>
            </div>
          </form>
          <div class="password-errors" v-if="ui.passwordAttemptErrors &amp;&amp; ui.passwordAttemptErrors.length &gt; 0">
            <div class="error" v-if="ui.passwordAttemptErrors.length == 1">{{ui.passwordAttemptErrors[0]}}</div>
            <ul v-if="ui.passwordAttemptErrors.length &gt; 1">
              <li class="error" v-for="(err,index) in ui.passwordAttemptErrors">{{err}}</li>
            </ul>
          </div>
          <div class="crash-screen" v-if="round.phase == 'crashed'">
            <h1>You crashed the system.</h1>
          </div>
        </div>
        <div class="scorekeeper" :player-count="players.length">
          <div class="player" v-for="(player,index) in players">
            <div class="name">{{player.name}}</div>
            <div class="score">{{player.score}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script>const testing = true;</script>
      <script src="js/min/site.min.js?updated2020-11-13@17:38:19"></script>
    </div>
  </body>
</html>