* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

html {
  font-family: "Cormorant Garamond", serif;
}

main {
  min-height: 99.999vh;
}

input, button, select {
  font-family: inherit;
}

main.pregame {
  background: #03460f;
}

main.ask-a-question {
  background: #f71cc8;
}

.sign-in {
  min-height: 99vh;
}
.sign-in form input {
  font-size: 1.5rem;
  font-family: inherit;
  background: #f7e61d;
  color: #dc0808;
  font-weight: 700;
  border: none;
}
.sign-in form button {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 5rem;
  font-size: 1.25rem;
  background: #4b00ff;
  border: none;
}

main.ask-a-question {
  text-align: center;
  padding-top: 20px;
}
main.ask-a-question select {
  font-size: 5vw;
  padding: 0.25em;
  background: #a900ff;
  color: white;
}
main.ask-a-question .button-holder {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
main.ask-a-question button {
  font-size: 5vw;
  background: #0088ff;
}

main.answer-a-question {
  background: #baf5ff;
}
main.answer-a-question input {
  background: blue;
  color: white;
  font-size: 5vw;
  width: 100%;
}
main.answer-a-question input::-webkit-input-placeholder {
  color: white;
}
main.answer-a-question input::-moz-placeholder {
  color: white;
}
main.answer-a-question input:-ms-input-placeholder {
  color: white;
}
main.answer-a-question input::-ms-input-placeholder {
  color: white;
}
main.answer-a-question input::placeholder {
  color: white;
}
main.answer-a-question button {
  font-size: 10vw;
  width: 100%;
  background: red;
}