.create-or-join {

  input,
  button { cursor: pointer; }
  .create { background:orange; clip-path: polygon(0 0, 0% 100%, 100% 0);  @include position(absolute,0,0,0,0); padding:4em;
    button { font-size:3.7vw; color:$black; font-family: $serif; font-weight: normal; text-transform: none; display:block; background:transparent; border:none; }
  }
  .or { font-size:3vw; text-align: center; color:rgba($black,.5); @include position(absolute,50%,50%); z-index: 4; display: block;  transform: translate(0, -25%); text-transform: uppercase; }
  /*
  .join {
    input { background:transparent;
      &::placeholder { color:$black; }
      &:hover {
        &::placeholder { color:$blue; }
      }
      &:focus { color: $blue; border: 2px solid $blue; outline: none;
        &::placeholder { color:rgba($blue,0.4); }
      }
    }
    form { width:100%; position: relative; }
    button { background:$blue; color:$white;
      @include position(absolute,null,0,0,0);
      font-size:24px;
    }
  }
  */


  .join { background:$blue; @include position(absolute,0,0,0,0); clip-path: polygon(0 100%, 100% 100%, 100% 0);  padding:4em; display: flex; align-items:flex-end; justify-content: flex-end;
    input { font-size:9vw; color:$black; font-family: $serif; display:block; width:4em; border:none; outline:none; background: transparent;
      &::placeholder { color:$black; font-size:3.7vw; }
      &:focus { color:yellow;
        &::placeholder { color:yellow; }
      }
    }
    button { margin-left: auto; display: block; font-family: $serif; font-size:3em; background: transparent; border:none; }
  }
}
