$gap: 40px;
$padding: 20px;


// Font shit
$barlow: 'Barlow', sans-serif;
$sans-serif: $barlow;
$fira: 'Fira Code', monospace;
$monospace: $fira;
$playfair: 'Playfair Display', serif;
$serif: $playfair;

$medium: 300;
$bold: 500;